#header {
    background-color: $hbgc;

    p{
        text-align: right;
    }

    a{
        text-decoration: none;
        font-family: Arial, sans-serif;
        color: $htc;
    }   

    #title{
        text-align: left;
    }
}