.Home-page-welcome {
    width: 100vw;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url('../../../assets/welcome.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & > img {
        width: 89px;
    }

    & > span {
        font-size: 3rem;
        font-weight: 700;
        color: darken($color: #fff, $amount: 5);

        @media screen and (max-width: 305px) {
            font-size: 1.5rem;
        }
    }

    & > .Home-page-btn-container {
        margin-top: 10px;
    }

    & > .Home-page-btn-container a {
        width: 113px;
        margin: 0 30px;
        color: darken($color: #fff, $amount: 5);
        font-weight: 700;
        background-color: #007fff;
        border-radius: 6px;
        padding: 5px;
        text-transform: uppercase;
        transition-duration: 0.2s;

        &:hover {
            background-color: darken($color: #007fff, $amount: 6);
        }

        @media screen and (max-width: 305px) {
            margin: 0 10px;
        }
    }
}